<?php
/** @var \Avanti\RedirectByGeoip\Block\Index\ContinueModal $block */
?>
<div>
    <span><?= $block->escapeHtml(__('You will be redirected to the store that serves your current city.')) ?></span>
    <div>
        <a id="continue" class="action submit primary" href="<?= $block->getHref()?>"><?= $block->escapeHtml(__('I understand')) ?></a>
    </div>
</div>

