<?php
/** @var \Avanti\RedirectByGeoip\Block\Index\ModalForm $block */
?>
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="update-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field note no-label"><?= $block->escapeHtml(__('Please enter your zip code:')) ?></div>
        <div class="field zipcode required">
            <label class="label" for="zipcode"><span><?= $block->escapeHtml(__('Zipcode')) ?></span></label>
            <div class="control">
                <input name="postcode" id="zipcode" maxlength="9" title="<?= $block->escapeHtmlAttr(__('Zipcode')) ?>" class="input-text" type="text" />
            </div>
        </div>
		<?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar" style="margin-top: 10px">
        <div class="primary">
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
    </div>
    <div class="found" style="text-align: center"><?= $block->escapeHtml(__('STORE FOUND')) ?>
        <div class="store-name"></div>
        <button><?= $block->escapeHtml(__('Change Store')) ?></span></button>
    </div>
    <div class="notfound"><?= $block->escapeHtml(__('No stores found')) ?></div>
</form>
<script>
    require(
        [
            'jquery',
        ],
        function($) {
            $(document).ready(function(){
                $('.found').hide();
                $('.notfound').hide();
            });
        }
    );
</script>

